.overskrift {
    
    color: rgb(4, 0, 0);
    padding: 20px;
    text-align: center;
}

.overskrift h1 {
    margin: 0;
    font-size: 24px;
}

.overskrift p {
    font-size: 14px;
}

.content {
    margin-top: 7px;
    margin: 20px;
    padding: auto;
    border: 1px solid #050000;
    background-color: #ffffff;
}

iframe {
    padding: 800;
    margin-left: 200px;
}