#lostScreen,
#wonScreen {
  opacity: 0.5;
  width: 100vw;
  height: 300px;
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wonScreen {
  background-color: green;
}

#lostScreen {
  background-color: red;
}
