body {
  background-color: #f2f2f2;
}

body {
  font-family: Arial, sans-serif;
  margin-left: 0;
  margin-right: 0;
}

#fellesheader {
  background-color: #f924f9;
  color: #040404;
  text-align: left;
  padding: 10px;
}

#headertekst {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#headerknapp {
  text-decoration: none;
  color: inherit;
}

/* ----------- footer ------------ */

/* Style the footer */
.footer {
  background-color: #f924f9;
  color: #040404;
  padding: 30px 0;
  text-align: center;
}

/* Style the footer content */
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Style the header text */
.footer h2 {
  font-size: 24px;
}

/* Style the paragraph text */
.footer p {
  font-size: 16px;
  margin: 20px 0;
}

/* Style the footer links */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin-right: 20px;
}

.footer ul li a {
  text-decoration: none;
  color: #040404;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: rgb(255, 255, 255);
}
