body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #0c192c;
}

#forsidebody {
  font-family: Arial, sans-serif;
  margin-left: 0;
  margin-right: 0;
}

#forside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.boblebokser {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 60px;
  text-align: center;
  justify-content: center;
}

.bobleboks {
  background-color: rgba(188, 233, 133, 0.8);
  font-size: 25px;
  cursor: pointer;
  transition: opacity 0.5s;
  padding: 50px;
  border: 1px solid black;
  font-size: 30px;
  border-radius: 15px;
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  box-shadow: 0 0 0 0, 0 0 50px #4fc3dc;
}

.bobleboks:hover {
  opacity: 1;
  box-shadow: 0 0 0 0, 0 0 50px #ff2d75;
}

.linkiboble {
  text-decoration: none;
  color: inherit;
  z-index: 100;
}
