body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#forsidebody {
    font-family: Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

#forside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

#forsideheader {
    background-color: #f924f9;
    color: #040404;
    text-align: left;
    padding: 10px;
}

#headertekst {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#forsideheaderknapp {
    text-decoration: none;
    color: inherit;
}

.boblebokser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 60px;
    text-align: center;
    justify-content: center;
}

  .bobleboks {
    background-color: rgba(188, 233, 133, 0.8);
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.50s;
    padding: 50px;
    border: 1px solid black;
    font-size: 30px;
    border-radius: 15px;
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bobleboks:hover {
    opacity: 0.6;
    box-shadow: -3px 3px 10px black;
}

.bobleboks:active {
    opacity: 0.5;
}

.linkiboble {
    text-decoration: none;
    color: inherit;
}

/* ----------- footer ------------ */

/* Style the footer */
.footer {
    background-color:  #f924f9;
    color: #040404;
    padding: 30px 0;
    text-align: center;
}

/* Style the footer content */
.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Style the header text */
.footer h2 {
    font-size: 24px;
}

/* Style the paragraph text */
.footer p {
    font-size: 16px;
    margin: 20px 0;
}

/* Style the footer links */
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 20px;
}

.footer ul li a {
    text-decoration: none;
    color: #040404;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: rgb(255, 255, 255);
}
