#gameboard{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #021e36;
    padding: 5px;
}
  .square {
    background-color: rgba(222, 192, 192, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 200px;
    font-size: 30px;
    text-align: center;
  }