.boblebokser {
    display: flex;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-rows: auto;
    gap: 60px;
    padding: 60px;
    text-align: center;
    justify-content: center;
}

.bobleboks {
    background-color: rgba(188, 233, 133, 0.8);
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.50s;
    padding: 40px;
    border: 1px solid black;
    font-size: 30px;
    border-radius: 15px;
    width: 140px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    background-color: #ff2d75;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 0.50s;
    padding-top: 18px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 18px;
}
button:hover {
    opacity: 0.6;
    box-shadow: -3px 3px 10px black;
}

button:active {
    opacity: 0.5;
}

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 1050px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  #profiltekst {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  #profiltekst h2 {
    font-size: 20px;
    text-decoration: underline;
  }
  #profiltekst ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  #profiltekst li {
    margin-bottom: 10px;
    font-size: 13px;
    text-align: left;
  }
  


